<header>
  <div class="navbar">
    <div class="brand">
      <a href="#" id="img-brand"
        ><img src="/assets/images/ambrosiabrand.png" alt="Ambrosia Logo"
      /></a>
    </div>
    <nav class="nav-links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">About</a></li>
        <!-- Recipe of the day -->
        <li><a href="#">Daily Recipe</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Log in</a></li>
        <li><a href="#">Sign up</a></li>
      </ul>
    </nav>
  </div>
  <div class="img-wrap">
    <img src="/assets/images/food.jpg" alt="Food" class="responsive" />
    <h1 class="welcome-header">Welcome to Ambrosia</h1>
    <div class="centered">
      A website for browsing delicious food recipes that are easy to make and
      sure to please. Get ideas for dishes you've never tried, or revisit
      favorite recipes from your past - all with a simple, user-friendly
      interface.
    </div>
  </div>
</header>
