<header>
  <div class="navbar">
    <div class="brand">
      <a routerLink="/" id="img-brand"
        ><img src="/assets/images/ambrosiabrand.png" alt="Ambrosia Logo"
      /></a>
    </div>
    <nav class="nav-links">
      <ul [ngClass]="{'active': hamClick}">
        <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/recipes" routerLinkActive="active-link">Recipes</a></li>
        <li><a routerLink="/random-recipe" routerLinkActive="active-link">Random Recipe</a></li>
        <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
          <li><a routerLink="/profile" routerLinkActive="active-link">Profile</a></li>
          <li><a routerLink="/logout" routerLinkActive="active-link">Logout</a></li>
        </ng-container>
        <ng-template #loginButton>
          <li><a routerLink="/login" routerLinkActive="active-link">Log in</a></li>
          <li><a routerLink="/register" routerLinkActive="active-link">Sign up</a></li>
        </ng-template>
      </ul>
      <div class="hamburger" [ngClass]="{'active': hamClick}" (click)="onClickHamburgerMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </div>
</header>
