<header>
  <div class="navbar">
    <div class="brand">
      <a routerLink="/" id="img-brand"
        ><img src="/assets/images/ambrosiabrand.png" alt="Ambrosia Logo"
      /></a>
    </div>
    <nav class="nav-links">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/recipes">Recipes</a></li>
        <li><a routerLink="/random-recipe">Random Recipe</a></li>
        <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
          <li><a routerLink="/profile">Profile</a></li>
          <li><a routerLink="/logout">Logout</a></li>
        </ng-container>
        <ng-template #loginButton>
          <li><a routerLink="/login">Log in</a></li>
          <li><a routerLink="/register">Sign up</a></li>
        </ng-template>
      </ul>
    </nav>
  </div>
</header>
