/* Navigation */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px 16px 32px;
  background-color: #fde6ba;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #644d3f;
}

.brand img {
  width: 13rem;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #644d3f;
  margin: 1rem;
  font-size: 20px;
  display: block;
}

.active-link {
  font-weight: 600;
  border-bottom: 3px solid #ee4c32;
}

/* Navigation links animation */
.nav-links a {
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}

a:not(#img-brand)::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ee4c32;
  transition: width 0.25s ease-out;
}

a:not(#img-brand):hover::before {
  width: 100%;
  left: 0;
}

/* Responsive design */

@media (max-width: 768px) {
  .navbar {
    padding: 16px 16px 16px 10px;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .navbar ul {
    position: fixed;
    right: -160px;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #fde6ba;
    z-index: 1;
  }

  .navbar ul.active {
    right: 0;
    width: 100%;
  }

  .brand img {
    width: 10rem;
  }
}
