/* Random-recipe image,text and generate button */
.img-wrap img {
  width: 100%;
  height: 600px;
  filter: brightness(50%);
}

.img-wrap {
  position: relative;
  text-align: center;
  color: white;
  /* font-size: 40px; */
  font-size: 2.5rem;
  margin-bottom: -10px;
}

.random-recipe-header {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ee4c32;
}

.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-position {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#gBtn {
  padding: 20px 35px;
  background-color: #644d3f;
  display: inline-block;
  color: #fde6ba;
  font-size: 20px;
  text-decoration: none;
}

#gBtn:hover {
  background-color: #554439;
}
/* Grid layout for home recipes */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.random-recipe {
  background: url("/assets/images/pattern.png");
  background-color: #8a6349;
  min-height: 100vh;
}

body {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  margin-top: 0;
  padding-top: 30px;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  color: #fde6ba;
}

@media (max-width: 1728px) {
  h1 {
    font-size: calc(1vw + 3.5rem);
  }
  .img-wrap {
    font-size: calc(0.5vw + 1.5rem);
  }
}

@media (max-width: 1544px) {
  h1 {
    font-size: calc(1vw + 2.5rem);
  }
  .img-wrap {
    font-size: calc(0.5vw + 1.5rem);
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ee4c32;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid #72533f;
  background: transparent;
}

.btn:hover {
  background-color: rgba(121, 75, 33, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background-color: #fde6ba;
}

.card_title {
  color: #72533f;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
}
/* Overlay position */
.overlay {
  position: absolute;
  top: 693px;
  left: 0;
  right: 0;
  bottom: -93px;
  z-index: 2;
  backdrop-filter: blur(2px);
}
