<section class="random-recipe">
  <div class="img-wrap">
    <img src="/assets/images/random-recipe-food.webp" alt="Food" />
    <h1 class="random-recipe-header">Challenge yourself by trying to cook completely random recipe!</h1>
    <div class="centered">
      In order to generate a new recipe, click 'Generate' button.
    </div>
  </div>
  <button class="btn-position" id="gBtn" (click)="generateRecipe()">Generate</button>
  <div *ngIf="!recipes" class="overlay">
    <app-spinner></app-spinner>
  </div>
  <ul class="cards">
    <li
      *ngFor="let recipe of recipes"
      class="cards_item"
      data-id="{{ recipe.idMeal }}"
    >
      <div class="card">
        <div class="card_image"><img src="{{ recipe.strMealThumb }}" alt="meal"/></div>
        <div class="card_content">
          <h2 class="card_title">{{ recipe.strMeal }}</h2>
          <button
            routerLink="/recipes/details/{{ recipe.idMeal }}"
            class="btn card_btn"
          >
            Get Recipe
          </button>
        </div>
      </div>
    </li>
  </ul>
</section>
