<main>
  <div class="img-wrap">
    <img src="/assets/images/food.jpg" alt="Food" />
    <h1 class="welcome-header">Welcome to Ambrosia</h1>
    <div class="centered">
      A website for browsing delicious food recipes that are easy to make and
      sure to please. Get ideas for dishes you've never tried, or revisit
      favorite recipes from your past - all with a simple, user-friendly
      interface.
    </div>
  </div>
  <div *ngIf="!recipes" class="overlay">
    <app-spinner></app-spinner>
  </div>
  <section class="home-recipes">
    <div class="main">
      <h1>Our Recipes</h1>
      <ul class="cards">
        <li *ngFor="let recipe of recipes" class="cards_item" data-id="{{recipe.idMeal}}">
          <div class="card">
            <div class="card_image"><img src="{{recipe.strMealThumb}}"></div>
            <div class="card_content">
              <h2 class="card_title">{{recipe.strMeal}}</h2>
              <button routerLink="/recipes/details/{{recipe.idMeal}}" class="btn card_btn">Get Recipe</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>
