@import url("https://use.fontawesome.com/releases/v6.2.0/css/all.css");

/* Grid layout for recipe details */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.details-recipe {
  background: url("/assets/images/pattern.png");
  background-color: #8a6349;
  min-height: 100vh;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

h2 {
  color: #72533f;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 10px;
  padding-top: 30px;
  font-size: 40px;
  font-weight: 500;
}

p {
  font-size: 20px;
}

.img_recipe {
  height: 650px;
  max-width: 100%;
  vertical-align: middle;
}

.card_wrap {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background-color: #fde6ba;
  width: 60%;
  height: 650px;
}

.card_title {
  color: #72533f;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 5px;
}

/* Add to favourites button */

button {
  color: #ffd42a;
  background: #72533f url(/assets/icons/star-thin.svg);
  background-repeat: no-repeat;
  background-position: 8px 8px;
  border: none;
  padding: 15px;
  cursor: pointer;
}

em {
  color: #ffd42a;
  background: #72533f url(/assets/icons/star-filled.svg);
  background-repeat: no-repeat;
  background-position: 8px 8px;
  border: none;
  padding: 15px 15px 15px 35px;
}

span {
  font-size: 15px;
  padding: 10px 10px 10px 25px;
}

/* Recipe video link and icon */

.recipe-video {
  text-decoration:none;
  color: #ee4c32;
}

.recipe-video:hover {
  text-decoration: underline;
}

.fa-youtube {
  margin-right: 5px;
}

/* Responsive Design */

@media (max-width: 768px) {
  /* font-size: calc(1vw + 2rem); */

  .main {
    padding: 100px 0px;
  }

  .card {
    flex-direction: column;
  }

  .card_wrap {
    margin: 0 5%;
  }

  .img_recipe {
    height: 100%;
  }

  .card_content {
    max-width: 700px;
    width: 100%;
    height: 100%;
  }
}