<form [formGroup]="form" (ngSubmit)="registerHandler()">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr />

   <!--  <label for="username"><b>Username</b></label>
    <input
      type="text"
      placeholder="Enter Username"
      formControlName="username"
      id="username"
    />

    <p *ngIf="form.get('username')?.touched && form.get('username')?.errors?.['required']">
      Username is required!
    </p> -->

    <label for="email"><b>Email</b></label>
    <input
      type="text"
      placeholder="Enter Email"
      formControlName="email"
      id="email"
    />
    <ng-container *ngIf="form.get('email')?.touched">
      <p *ngIf="form.get('email')?.errors?.['required']">
        Email is required!
      </p>
      <p *ngIf="form.get('email')?.errors?.['appEmailValidator']">
        Email is not valid!
      </p>
    </ng-container>

    <ng-container formGroupName="pass">
      <label for="password"><b>Password</b></label>
      <input
      type="password"
      placeholder="Enter Password"
      formControlName="password"
      id="password"
      />
      <ng-container *ngIf="form.get('pass')?.get('password')?.touched">
        <p *ngIf="form.get('pass')?.get('password')?.errors?.['required']">
          Password is required!
        </p>
        <p *ngIf="form.get('pass')?.get('password')?.errors?.['minlength']">
          Password must be at least 6 characters!
        </p>
      </ng-container>
      
      <label for="repeatPassword"><b>Repeat Password</b></label>
      <input
      type="password"
      placeholder="Repeat Password"
      formControlName="repeatPassword"
      id="repeatPassword"
      />
      <p
      *ngIf="form.get('pass')?.errors?.['sameValueGroupValidator'] && form.get('pass')?.get('repeatPassword')?.touched"
      >
      Both passwords must match!
      </p>
    </ng-container>

    <hr />

    <button [disabled]="form.invalid" class="registerbtn">Register</button>
  </div>

  <div class="container login">
    <p>Already have an account? <a routerLink="/login">Log in</a>.</p>
  </div>
</form>
