.sign-up {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/assets/images/pattern.png');
  background-color: #8a6349;
}

.registration {
  position: relative;
  border-radius: 8px;
  padding: 48px 144px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-color: #fde6ba;
}

h1 {
  margin: 32px 0;
  font-weight: normal;
  text-align: center;
}

.registration label {
  display: block;
  margin: 14px 0;
  width: 320px;
}

.registration input {
  margin: 8px auto;
  width: 100%;
  padding: 12px 15px;
  background-color: #fff;
  outline: none;
  border: none;
}

button {
  display: block !important;
  margin: 32px auto;
}

.register-btn:disabled {
  opacity: 0.3;
}

.register-btn:disabled:hover {
  opacity: 0.3;
  cursor: not-allowed;
}

.register-btn {
  padding: 15px 30px;
  background-color: #8a6349;
  border: none;
  color: #fde6ba;
  text-decoration: none;
}

.register-btn:hover {
  background-color: #554439;
  cursor: pointer;
}

/* Register errors */

.error{
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}

input.ng-touched.ng-invalid {
  border-left: 5px solid #dc3545;
}

/* Log in container */

.container-login a {
  color: #ee4c32;
  text-decoration: none;
}

.container-login a:hover {
  text-decoration: underline;
}